fastapi
pydantic
docling
uvicorn
requests
httpx
langchain
langchain-openai
langchain-qdrant
langchain-community
langchain-openai
qdrant-client
python-dotenv
PyPDF2
python-docx
beautifulsoup4
qrcode[pil]
